<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samarthsaxena.walkinclinicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frontend.Authentication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frontend.Authentication.SignupActivity"></activity>
        <activity android:name=".frontend.Authentication.LoginActivity"></activity>
        <activity android:name=".frontend.Authentication.WelcomeActivity"></activity>
        <activity android:name=".frontend.Admin.AdminActivity"></activity>
        <activity android:name=".frontend.Employee.EmployeeActivity"></activity>
        <activity android:name=".frontend.Employee.ProfileActivity">
        </activity>
        <activity android:name=".frontend.Employee.EmployeeEdit">
        </activity>
        <activity android:name=".frontend.Employee.ManageServiceActivity">
        </activity>
        <activity android:name=".frontend.Employee.ManageServiceEmployeeActivity">
        </activity>
        <activity android:name=".frontend.Employee.ViewEmployeeProfile">
        </activity>
        <activity android:name=".frontend.Employee.ManageProfileActivity">
        </activity>
        <activity android:name=".frontend.Admin.ManageUserActivity">
        </activity>
        <activity android:name=".frontend.Admin.ManageServiceActivity">
        </activity>
        <activity android:name=".frontend.Employee.DeleteServiceEmployeeActivity">
        </activity>
        <activity android:name=".frontend.Employee.WorkingHoursActivity">
        </activity>
        <activity android:name=".frontend.Employee.EditWorkingHours">
        </activity>
        <activity android:name=".frontend.Patients.WorkingSlotActivity">
        </activity>
        <activity android:name=".frontend.Patients.PatientActivity">
        </activity>
    </application>

</manifest>